.container{
    transition: 0.3s;
    animation: entrance 1s;
    background-color: #9a9a9a0c;
    z-index: 10;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding-inline: 10%;
    margin-left: 20px;
}

/*----------------Error-----------------*/
.error{
    animation: entrance 1s;
    color: #fbfbfb;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------------------------------------*/

/*------------form styles---------------*/

.form{
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form select{
    width: 70%;
    color: #fbfbfb;
    font-weight: 300;
    padding: 5px;
    border-radius: 5px;
    background: #313030cf;
}

.fomr .disabled{
    color: #9a9a9a;
}

.form .submit{
    transition: 0.3s;
    padding: 5px;
    background-color: transparent;
    color: #fbfbfb;
    font-weight: 300;
    border-radius: 5px;
    z-index: 2;
}

.form .submit:hover{
    transition: 0.3s;
    transform: scale(1.05);
    cursor: pointer;
    background-color: #E58E27;
    color: #161a1e;
}

/*--------------------------------------*/

.container .filters{
    padding-top: 20px;
    animation: entrance 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container .filters h3{
    color: #fbfbfb;
    font-weight: 300;
    padding: 5px;
    margin-bottom: 20px;
}


.container .filters .database, .platforms, .genres{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 14px;
}

.container .filters label{
    width: 100%;
    text-align: start;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #9a9a9a;
    text-shadow: 1px 2px 4px #222222;
}

.container .reload{
    transition: 0.3s;
    padding: 10px;
    color: #fbfbfb;
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid #9a9a9a0c;
    z-index: 2;
    margin-bottom: 20px;
}

.container .reload:hover{
    transition: 0.3s;
    transform: scale(1.05);
    cursor: pointer;
    border: 1px solid #161a1e;
    background-color: #E58E27;
    color: #161a1e;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
